<div class="col-sm-offset-2">
  <h1>Reset Password</h1>
</div>     


<div class="login-form">
<%= form_tag  password_resets_path , class: "form-horizontal", role: 'form' do %>
    <div class="field form-group">
    <%= label_tag :email, nil, :class =>' col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10 ">
        <%= submit_tag "Reset Password" , class: 'btn btn-default'%>
      </div>
    </div>
<% end %>
</div>