<div id = 'artist_sidebar' class="sidebar">
	 <img  data-image="artist_icon"src="<%= @artist.icon_url %>">
	 <div class='links'>
	 	<h4 >Links</h4>
	 	<%= link_to 'Website', @artist.url %>
	 	<%= link_to 'Report a Concern', '#' %>
	 </div>
</div>

<div class = 'podcasts' >
	<ul id = 'podcasts' >
		<%= render @artist.podcasts %>
	</ul>
</div>
