<div class="row">
	<div class="col-md-4">
	  <ul class="subscriptions">
		<% @artists.each  do |artist| %>
		 <a href="#"> <li id= 'subscription'> 
		  	<div id="subscription_details">
               <img src="<%= artist.image.url(:icon) %>"> 
		  	   <p><%= artist.channel_title %></p>
		  	</div>
		  </li>
		  </a>
		<% end %>
	   </ul>
	</div>


	<div class="col-md-8">
       <ul id="user-artists-podcasts" >
       	<%  @artists.first.podcasts.each  do |podcast|%>
       	  <%= render partial: 'users/podcast', locals: {podcast: podcast }  %>
   	    <% end %>
       </ul>
	</div>
</div>

