<% cache [@artists.last, @artists.count] do %>
<div class="col-md-8  artists-panel">
        <ul id ='artists' data-list ='artists'>
		   <% @artists.each do |artist| %>
		   
		   <div class="col-md-3 artist-thumb">
		     <li class="artist" ><%= render artist %></li>
		   </div> 	
		  
		   <% end %>
		  
		</ul>	    
	</div>
<% end %>