<% cache @podcasts.first do %>
<div class="col-md-3 col-md-offset-1 recent-podcasts">	
	<h4>Recent Podcasts:</h4>
		<ul class="updates">
			<% @podcasts.each do |podcast|%>
			<li class="recent_podcast ">
			    <a href="<%= j podcast.file_url %>" data-id="<%= podcast.id %>" class="podcast_item"><%= podcast.title %></a>
			</li>
			<% end %>
		</ul>
</div>
<% end %>