<div class="row">
	<div class="col-md-8  artists-panel">
        <ul id ='artists' data-list ='artists'>
		   <% @artists.each do |artist| %>
		   
		   <div class="col-md-3 artist-thumb">
		     <li class="artist" ><%= render artist %></li>
		   </div> 	
		  
		   <% end %>
		  
		</ul>	    
	</div>
	<div class="col-md-3 col-md-offset-1 recent-podcasts">
	
		<h4>Recent Podcasts</h4>
			<ul class="updates">
				<li>Uno</li>
				<li>Dos</li>
				<li>Tres</li>
			</ul>
		</div>
</div>