/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



@import "bootstrap";
@import "compass";



.container.main {
	margin-top: 150px;
  padding-bottom: 30px;
}

.top-navigation {
	z-index: 3;
	height: 30px;
	width:100%;
	top: 0px;
	position: fixed;
	background-color: #333;
	color: #ddd;
	padding-top: 3px;
    div {
    	display: inline;
    }
}

#jp_container_1 {
   z-index: 3;
   position:fixed;
   top: 30px;
   width:100%;

}

body {
	background-color: #FFF;
}

#artists {	
	list-style:none;
}


.logged_in , .not_logged_in {
	float: right;
	margin: auto 10px;

}


.top-navbar-brand, .top-navbar {
	font-size: 18px;
    color: #aaa;
    font-weight: bold;
    margin-left:10px;

    &:hover {
    	color: #eee;
    	text-decoration: none;
    }
}

.top-navbar {
  font-size: 1em;
}

#jp-progress {
  z-index: 3;
  top: 56px;
  width: 20%;
  margin-left:26%;
  height: 7px;
}

#jp-time-holder {
  top: 69%;
  left: 31%;
  right: 43%;
}

#jp-controls {
  top: 5px;
  left: 40%;
  right: 44%;
}

#jp-volume-bar {
  right: 46%;
  top:22px;
}



#track_info {
  position: absolute;
  top: 7px;
  right: 5px;
   img {
      float:right;
   }



   .artist_podcast_titles {
     float: left;

        div {
           margin-right: 5px;

             p {
              color: #555;
              font-weight: bold;
              float: right;
              font-size: 0.75em;
              margin-bottom: 0px;
             }
        } 
   }

}

#jp-pause {
  display:hidden;
}

.jumbotron {

   p {
    font-weight: bold;
   }


  h2 {
  margin-bottom: 30px; 
}
}




.footer {

  background: #f7f7f7;
  padding: 4em 0 6em;
  text-align: center;
  font-size: 1em;


  p {
    color: #777;
    padding:0 1em;
  }
}


.services {
    margin:2em 0;
    font-family: Helvetica, Arial, sans-serif;
 
    li {
        position: relative;
        @include inline-block();
        margin: 1.5em;
        @include transition(all .15s ease);
 
        &:hover {
            @include scale(1.25);
            color: white;
        }
 
        &:before {
            position: absolute;
            width: 2em; /* center align technique, give width, negative half margin */
            margin-left: -1em;
            top: 1.5em;
            left: 50%;
        }
 
        a {
            display: block;
            color: inherit;
            padding: 2.5em 1em 1em;
            width: 10em;
            // allow truncation if needed
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
} 

/* Twitter */
.icon-twitter {color: #00a0d1}
.icon-twitter:hover {background:#00a0d1}
/* Facebook */
.icon-facebook {color: #3b5998}
.icon-facebook:hover {background: #3b5998}
/* Google Plus */
.icon-google-plus {color: #db4a39}
.icon-google-plus:hover {background: #db4a39}
/* Mail */
.icon-mail {color: #7f7f7f}
.icon-mail:hover {background:#7f7f7f}