/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



@import "bootstrap";


.container.main {
	margin-top: 150px;
}

.top-navigation {
	z-index: 3;
	height: 30px;
	width:100%;
	top: 0px;
	position: fixed;
	background-color: #333;
	color: #ddd;
	padding-top: 3px;
    div {
    	display: inline;
    }
}

#jp_container_1 {
   z-index: 3;
   position:fixed;
   top: 30px;
   width:100%;

}

body {
	background-color: #FFF;
}

#artists {	
	list-style:none;
}


.logged_in , .not_logged_in {
	float: right;
	margin: auto 10px;

}


.top-navbar-brand {
	font-size: 18px;
    color: #aaa;
    font-weight: bold;
    margin-top: 6px;
    margin-left:10px;

    &:hover {
    	color: #eee;
    	text-decoration: none;
    }
}



