#links {
    margin-top: 3em;
}

div.podcasts {
    background-color:#eaeaea;
	width: 660px;
	margin: 0 auto;

}

#artist_sidebar img {
    border: 1px solid #ccc;
	width: 85%;
}

#artist_sidebar {
    position: absolute;
    top: 40px;
    z-index: 2;
    left: 10px;
}



#podcasts {	
    
    border:1px solid #ccc;
    overflow:auto;
    
    border-radius:5px;
    list-style: none;
    overflow: hidden;
    position: relative;
}

.podcast {
	cursor:pointer;
}

.podcast div
{
    color:#666666;
}
.podcast:hover{
    background:#92b2cf;
    color:#fff;
    border-radius: 5px;
}

.podcast.odd{
    background:#f1f1f1; 
}


.podcast.current{
    color:#333;
    background:#ccc;
    border-bottom: 1px solid #d1d1d1;
}


.light-gray {
    background-color: #f4f4f4;
    border-bottom: 1px solid #fafafa;

}

.artist-page.ch-info {
    padding:  20px 30px 60px;
    h1 {
        font-weight: bold;
    }

}

.dark-gray {
    background-color: #eaeaea;
    border-top: 1px solid #d5d5d5; 
}


.ch-description {
    padding: 20px 30px 20px;
}