#links {
    margin-top: 3em;
}

div.podcasts {
    background-color:#eaeaea;
	width: 660px;
	margin: 0 auto;

}

#artist_sidebar img {
    border: 1px solid #ccc;
	width: 85%;
}

#artist_sidebar {
    position: absolute;
    top: 40px;
    z-index: 2;
    left: 10px;
}





#podcasts {	
    
    border:1px solid #ccc;
    overflow:auto;
    width:100%;
    border-radius:5px;
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    position: relative;
}

.podcast {
	padding: 2px;
	border-bottom:1px solid #ddd; 
	cursor:pointer;
}

.podcast div
{
    padding-left:25px;
    
    color:#666666;

}
.podcast div:hover{
    background:#92b2cf;
    color:#fff;
    border-radius: 5px;
}
.podcast h3 span{
    font-weight: 200;
}
.podcast.odd{
    background:#f1f1f1; 
}


.podcast.current{
    color:#333;
    background:#ccc;
    border-bottom: 1px solid #d1d1d1;
}


