#links {
    margin-top: 3em;
    text-shadow: 0 2px 0px  #fff;

    h4 {
        font-weight: bold;
    }

    a {
        color: #222;
    }
}


#artist_sidebar img {
    border: 1px solid #ccc;
	width: 85%;
}

#artist_sidebar {
    position: absolute;
    top: 40px;
    z-index: 2;
    left: 20px;
}



#podcasts {	
    
    overflow:auto;
    list-style: none;
    overflow: hidden;
    padding-left: 0px;
}

.podcast {
	cursor:pointer;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #f5f5f5;
    padding: 3px 1px 3px 2px; 
    &:hover {
        background:#92b2cf;
        text-shadow: none;
        color:#fff;
        -moz-border-radius: 10px;
    }

    .odd {
         background:#f1f1f1;
    }


    .current{
        color:#333;
        background:#ccc;
        border-bottom: 1px solid #d1d1d1;
    }

    p {
        margin-bottom: 0;
    }
}




.light-gray {
    background-color: #f4f4f4;
    border-bottom: 1px solid #fafafa;

}

.ch-info {
    padding:  20px 30px 60px;
    h1 {
        text-shadow: 0 2px 0px  #fff;
        font-weight: bold;
    }
    h4 {
        text-shadow: 0 1px 0px  #fff;
    }

}

.dark-gray {
    background-color: #eaeaea;
    border-top: 1px solid #c5c5c    5; 
}


.ch-description {
    padding: 20px 30px 20px;
     text-shadow: 0 2px 1px #fff;
    h2 {

    }
}

.podcast-labels {
  
    border-bottom: 1px solid #f5f5f5;
    margin: 0px;

    p {
        margin-bottom: 5px;
    }
}


.podcasts-list {
    text-shadow: 0 2px 0 #fff;
    padding-left: 30px; 
}



