<li >
	<div class="row podcast">
			<div class="col-md-5 ">
				<p class="name">
					<%= hide_overflow(podcast.title) %>
				</p>
			</div>
			<div class="col-md-1">
				<p class="duration"><%= podcast.duration %></p>
			</div>
			<div class="col-md-2">
				<p class="published"><%= podcast.published %></p>
			</div>
			<div class="col-md-4 ">
                <p>
					<%= hide_overflow(podcast.summary) %>
				</p>
	</div>
	
</li>