<li >
	<div class="row podcast">
			<div class="col-md-5">
				<p><%= podcast.title %></p>
			</div>
			<div class="col-md-1">
				<p><%= podcast.duration %></p>
			</div>
			<div class="col-md-2">
				<p><%= podcast.published %></p>
			</div>
			<div class="col-md-4"></div>
	</div>
	
</li>