
  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul id = "jp-controls" class="jp-controls">
          <li><a href="javascript:;" class="jp-previous" tabindex="1">prev</a></li>
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a id = "jp-pause" href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
        </ul>
        <div  id='jp-progress' class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div id = "jp-volume-bar" class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div id= "jp-time-holder" class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          
        </div>
      </div>

    
   </div>
    <div id="track_info">
      
      <div class="artist_podcast_titles">
         <div id = "artist_name">
             <p ></p>
        </div>
        <div id="track_title">
          <p ></p>
        </div>
         <div id = "channel_title">
             <p ></p>
        </div>
      </div>
     
    </div>
  </div>

 